<a href="https://colab.research.google.com/github/kumarvibhuti630/Fake-News-Classifier/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

# New Section

In [ ]:
train_path="/content/drive/My Drive/fake_news/train.csv"
test_path="/content/drive/My Drive/fake_news/test.csv"

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)

In [ ]:
train_df.head(5)

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
train_df.tail(5)

          id  ... label
20795  20795  ...     0
20796  20796  ...     0
20797  20797  ...     0
20798  20798  ...     1
20799  20799  ...     1

[5 rows x 5 columns]

In [ ]:
test_df.head(5)

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [ ]:
test_df.tail(5)

         id  ...                                               text
5195  25995  ...  Of all the dysfunctions that plague the world’...
5196  25996  ...  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197  25997  ...  Good morning. (Want to get California Today by...
5198  25998  ...  « Previous - Next » 300 US Marines To Be Deplo...
5199  25999  ...  Perhaps you’ve seen the new TV series whose pi...

[5 rows x 4 columns]

In [ ]:
print("Shape of train_data",train_df.shape)
print("Shape of test_data",test_df.shape)

Shape of train_data (20800, 5)
Shape of test_data (5200, 4)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [ ]:
train_df["Description"]=train_df["title"]+train_df["text"]

In [ ]:
test_df["Description"]=train_df["title"]+train_df["text"]

In [ ]:
train_df.head(5)

   id  ...                                        Description
0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1  ...  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2   2  ...  Why the Truth Might Get You FiredWhy the Truth...
3   3  ...  15 Civilians Killed In Single US Airstrike Hav...
4   4  ...  Iranian woman jailed for fictional unpublished...

[5 rows x 6 columns]

In [ ]:
test_df.head(5)

      id  ...                                        Description
0  20800  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1  20801  ...  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2  20802  ...  Why the Truth Might Get You FiredWhy the Truth...
3  20803  ...  15 Civilians Killed In Single US Airstrike Hav...
4  20804  ...  Iranian woman jailed for fictional unpublished...

[5 rows x 5 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20800 non-null  int64
 1   title        20242 non-null  object
 2   author       18843 non-null  object
 3   text         20761 non-null  object
 4   label        20800 non-null  int64
 5   Description  20203 non-null  object
dtypes: int64(2), object(4)
memory usage: 975.1+ KB

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5200 non-null   int64
 1   title        5078 non-null   object
 2   author       4697 non-null   object
 3   text         5193 non-null   object
 4   Description  5042 non-null   object
dtypes: int64(1), object(4)
memory usage: 203.2+ KB

In [ ]:
train_df.loc[train_df["title"].isnull()==True,"Description"].isnull().sum()

558

In [ ]:
train_df.loc[:,"title"].isnull().sum()

558

So, all nan values of title are replicated in Description

In [ ]:
train_df.loc[train_df.loc[:,"Description"].isnull()==True ,"Description"]=train_df[train_df.loc[:,"Description"].isnull()==True].apply(lambda x:x["text"],axis=1)

In [ ]:
main_data.loc[main_data.apply(lambda x: x['reject_ind']==0,axis=1)==True,"LASTMILE_DISTANCE"]

In [ ]:
train_df.loc[train_df.loc[:,"Description"].isnull()==True ,"Description"]=train_df[train_df.loc[:,"Description"].isnull()==True].apply(lambda x:x["title"],axis=1)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20800 non-null  int64
 1   title        20242 non-null  object
 2   author       18843 non-null  object
 3   text         20761 non-null  object
 4   label        20800 non-null  int64
 5   Description  20800 non-null  object
dtypes: int64(2), object(4)
memory usage: 975.1+ KB

In [ ]:
len(test_df.loc[test_df.loc[:,"title"].isnull()==True,"Description"])

122

In [ ]:
test_df.loc[test_df.loc[:,"title"].isnull()==True,"Description"].isnull().sum()

3

In [ ]:
test_df.loc[test_df.loc[:,"Description"].isnull()==True ,"Description"]=test_df[test_df.loc[:,"Description"].isnull()==True].apply(lambda x:x["text"],axis=1)

In [ ]:
test_df.loc[test_df.loc[:,"Description"].isnull()==True ,"Description"]=test_df[test_df.loc[:,"Description"].isnull()==True].apply(lambda x:x["title"],axis=1)

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5200 non-null   int64
 1   title        5078 non-null   object
 2   author       4697 non-null   object
 3   text         5193 non-null   object
 4   Description  5200 non-null   object
dtypes: int64(1), object(4)
memory usage: 203.2+ KB

In [ ]:
train_data=train_df.drop(["title","author","text","id"],axis=1,inplace=False)

In [ ]:
train_data.shape

(20800, 2)

In [ ]:
test_data=test_df.drop(["title","author","text","id"],axis=1,inplace=False)

In [ ]:
test_data.shape

(5200, 1)

In [ ]:
X_train=train_data.iloc[:,1]
Y_train=train_data.iloc[:,0]

In [ ]:
X_test=test_data.iloc[:,0]

In [ ]:
import tensorflow as tf

In [ ]:
tf.__version__

'2.4.0'

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import one_hot

In [ ]:
X_train.head()

0    House Dem Aide: We Didn’t Even See Comey’s Let...
1    FLYNN: Hillary Clinton, Big Woman on Campus - ...
2    Why the Truth Might Get You FiredWhy the Truth...
3    15 Civilians Killed In Single US Airstrike Hav...
4    Iranian woman jailed for fictional unpublished...
Name: Description, dtype: object

**TEXT** **CLEANING**

In [ ]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [ ]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
a=str(X_train[1])

In [ ]:
a

'FLYNN: Hillary Clinton, Big Woman on Campus - BreitbartEver get the feeling your life circles the roundabout rather than heads in a straight line toward the intended destination? [Hillary Clinton remains the big woman on campus in leafy, liberal Wellesley, Massachusetts. Everywhere else votes her most likely to don her inauguration dress for the remainder of her days the way Miss Havisham forever wore that wedding dress.  Speaking of Great Expectations, Hillary Rodham overflowed with them 48 years ago when she first addressed a Wellesley graduating class. The president of the college informed those gathered in 1969 that the students needed “no debate so far as I could ascertain as to who their spokesman was to be” (kind of the like the Democratic primaries in 2016 minus the   terms unknown then even at a Seven Sisters school). “I am very glad that Miss Adams made it clear that what I am speaking for today is all of us —  the 400 of us,” Miss Rodham told her classmates. After appointing herself Edger Bergen to the Charlie McCarthys and Mortimer Snerds in attendance, the    bespectacled in granny glasses (awarding her matronly wisdom —  or at least John Lennon wisdom) took issue with the previous speaker. Despite becoming the first   to win election to a seat in the U. S. Senate since Reconstruction, Edward Brooke came in for criticism for calling for “empathy” for the goals of protestors as he criticized tactics. Though Clinton in her senior thesis on Saul Alinsky lamented “Black Power demagogues” and “elitist arrogance and repressive intolerance” within the New Left, similar words coming out of a Republican necessitated a brief rebuttal. “Trust,” Rodham ironically observed in 1969, “this is one word that when I asked the class at our rehearsal what it was they wanted me to say for them, everyone came up to me and said ‘Talk about trust, talk about the lack of trust both for us and the way we feel about others. Talk about the trust bust.’ What can you say about it? What can you say about a feeling that permeates a generation and that perhaps is not even understood by those who are distrusted?” The “trust bust” certainly busted Clinton’s 2016 plans. She certainly did not even understand that people distrusted her. After Whitewater, Travelgate, the vast   conspiracy, Benghazi, and the missing emails, Clinton found herself the distrusted voice on Friday. There was a load of compromising on the road to the broadening of her political horizons. And distrust from the American people —  Trump edged her 48 percent to 38 percent on the question immediately prior to November’s election —  stood as a major reason for the closing of those horizons. Clinton described her vanquisher and his supporters as embracing a “lie,” a “con,” “alternative facts,” and “a   assault on truth and reason. ” She failed to explain why the American people chose his lies over her truth. “As the history majors among you here today know all too well, when people in power invent their own facts and attack those who question them, it can mark the beginning of the end of a free society,” she offered. “That is not hyperbole. ” Like so many people to emerge from the 1960s, Hillary Clinton embarked upon a long, strange trip. From high school Goldwater Girl and Wellesley College Republican president to Democratic politician, Clinton drank in the times and the place that gave her a degree. More significantly, she went from idealist to cynic, as a comparison of her two Wellesley commencement addresses show. Way back when, she lamented that “for too long our leaders have viewed politics as the art of the possible, and the challenge now is to practice politics as the art of making what appears to be impossible possible. ” Now, as the big woman on campus but the odd woman out of the White House, she wonders how her current station is even possible. “Why aren’t I 50 points ahead?” she asked in September. In May she asks why she isn’t president. The woman famously dubbed a “congenital liar” by Bill Safire concludes that lies did her in —  theirs, mind you, not hers. Getting stood up on Election Day, like finding yourself the jilted bride on your wedding day, inspires dangerous delusions.'

In [ ]:
def Text_cleaning(sentences):
  ps=PorterStemmer()
  lis=[]
  
  for i in range(len(sentences)):
    msg=re.sub("[^a-zA-Z]"," ",str(sentences[i]))
    msg=msg.lower()
    msg=msg.split()
    msg=[ps.stem(word) for word in msg if word not in stopwords.words("english")]
    msg=" ".join(msg)
    lis.append(msg)
  return lis

In [ ]:
lis=Text_cleaning(X_train)

In [ ]:
lis[1]

'flynn hillari clinton big woman campu breitbartev get feel life circl roundabout rather head straight line toward intend destin hillari clinton remain big woman campu leafi liber wellesley massachusett everywher els vote like inaugur dress remaind day way miss havisham forev wore wed dress speak great expect hillari rodham overflow year ago first address wellesley graduat class presid colleg inform gather student need debat far could ascertain spokesman kind like democrat primari minu term unknown even seven sister school glad miss adam made clear speak today us us miss rodham told classmat appoint edger bergen charli mccarthi mortim snerd attend bespectacl granni glass award matronli wisdom least john lennon wisdom took issu previou speaker despit becom first win elect seat u senat sinc reconstruct edward brook came critic call empathi goal protestor critic tactic though clinton senior thesi saul alinski lament black power demagogu elitist arrog repress intoler within new left similar word come republican necessit brief rebutt trust rodham iron observ one word ask class rehears want say everyon came said talk trust talk lack trust us way feel other talk trust bust say say feel permeat gener perhap even understood distrust trust bust certainli bust clinton plan certainli even understand peopl distrust whitewat travelg vast conspiraci benghazi miss email clinton found distrust voic friday load compromis road broaden polit horizon distrust american peopl trump edg percent percent question immedi prior novemb elect stood major reason close horizon clinton describ vanquish support embrac lie con altern fact assault truth reason fail explain american peopl chose lie truth histori major among today know well peopl power invent fact attack question mark begin end free societi offer hyperbol like mani peopl emerg hillari clinton embark upon long strang trip high school goldwat girl wellesley colleg republican presid democrat politician clinton drank time place gave degre significantli went idealist cynic comparison two wellesley commenc address show way back lament long leader view polit art possibl challeng practic polit art make appear imposs possibl big woman campu odd woman white hous wonder current station even possibl point ahead ask septemb may ask presid woman famous dub congenit liar bill safir conclud lie mind get stood elect day like find jilt bride wed day inspir danger delus'

In [ ]:
voc_size=30000

In [ ]:
one_hotrepr=[one_hot(word,n=voc_size) for word in lis]

In [ ]:
one_hotrepr[2]

[19435,
 22953,
 26339,
 28649,
 19435,
 22953,
 26339,
 23139,
 9187,
 21578,
 10816,
 13659,
 28147,
 22166,
 3983,
 12708,
 12759,
 28772,
 20084,
 24225,
 16377,
 8512,
 10231,
 19188,
 25649,
 11084,
 5887,
 3048,
 5887,
 3048,
 22953,
 24623,
 24026,
 17255,
 26271,
 1652,
 20705,
 4637,
 17813,
 15054,
 22953,
 17110,
 12533,
 9377,
 7674,
 2399,
 24093,
 27371,
 11499,
 16387,
 29948,
 3567,
 25429,
 13031,
 25774,
 12096,
 5668,
 20920,
 26297,
 19188,
 3876,
 26303,
 12577,
 8067,
 24993,
 13570,
 10183,
 1397,
 6132,
 2406,
 5908,
 16774,
 26284,
 27094,
 26284,
 6092,
 29457,
 12832,
 8067,
 1918,
 22366,
 21547,
 18226,
 10034,
 18528,
 18988,
 22818,
 6598,
 17341,
 6010,
 19493,
 25774,
 12096,
 5668,
 24427,
 19493,
 13252,
 5666,
 25992,
 18214,
 11921,
 2027,
 14111,
 26730,
 25774,
 3792,
 3345,
 7403,
 28144,
 21298,
 12817,
 1706,
 19102,
 1823,
 15711,
 11722,
 21816,
 24893,
 8350,
 19188,
 29790,
 18404,
 16774,
 22649,
 19493,
 5668,
 19426,
 9579,
 17420,
 14679,
 12713,
 14024,
 10805,
 5668,
 12954,
 15588,
 5407,
 26944,
 19962,
 25224,
 19188,
 19451,
 22489,
 15441,
 1397,
 6132,
 19481,
 27360,
 17851,
 20309,
 15883,
 20626,
 6913,
 23411,
 3235,
 5712,
 11124,
 15624,
 18115,
 1292,
 8949,
 2051,
 3028,
 25649,
 14827,
 16774,
 26284,
 4057,
 12772,
 22897,
 6654,
 23411,
 21547,
 13306,
 7946,
 16951,
 5430,
 7891,
 18902,
 1397,
 14037,
 10204,
 27360,
 15511,
 6907,
 18693,
 16405,
 5668,
 27358,
 16774,
 15860,
 795,
 27360,
 24027,
 2571,
 23610,
 3519,
 20126,
 4819,
 27591,
 27704,
 19188,
 20529,
 24353,
 4820,
 13493,
 1397,
 16887,
 16405,
 29470,
 26804,
 11583,
 26284,
 363,
 28772,
 26944,
 29470,
 16774,
 19188,
 24388,
 7163,
 9658,
 6650,
 17191,
 21682,
 19941,
 23062,
 14037,
 27956,
 14346,
 23703,
 27360,
 23971,
 3574,
 8981,
 25649,
 21491,
 27360,
 3831,
 2639,
 24093,
 17295,
 2491,
 26284,
 15234,
 23696,
 19188,
 23411,
 16774,
 26284,
 3331,
 17116,
 11517,
 7089,
 26284,
 15234,
 14241,
 6478,
 22434,
 23411,
 22832,
 5668,
 10552,
 15681,
 15875,
 5716,
 26421,
 5668,
 15728,
 26297,
 19188,
 12644,
 4937,
 13570,
 27360,
 15234,
 4150,
 23887,
 6478,
 23411,
 14163,
 22547,
 21108,
 11517,
 7089,
 26284,
 14037,
 20529,
 28369,
 17583,
 8716,
 6152,
 1479,
 1210,
 28508,
 27360,
 10816,
 279,
 25048,
 21982,
 15313,
 13309,
 8763,
 6871,
 26730,
 29024,
 10754,
 22489,
 1710,
 28135,
 16405,
 26339,
 795,
 10816,
 17583,
 3876,
 10816,
 2599,
 12146,
 5407,
 12711,
 165,
 29873,
 24961,
 28550,
 23842,
 307,
 13526,
 14111,
 9985,
 19399,
 20210,
 2224,
 5371,
 13953,
 19792,
 114,
 14037,
 17295,
 13148,
 26303,
 19644,
 14037,
 18008,
 18725,
 15860,
 13834,
 7905,
 8569,
 13527,
 11921,
 26730,
 17295,
 10816,
 7639,
 19741,
 2027,
 29748,
 21979,
 16042,
 27360,
 10816,
 279,
 17295,
 9568,
 1479,
 9997,
 12557,
 20084,
 13796,
 6119,
 10816,
 5673,
 15494,
 16763,
 2027,
 3331,
 8716,
 6152,
 1479,
 11520,
 22953,
 6522,
 17295,
 13911,
 7987,
 1050,
 25010,
 28357,
 8716,
 6152,
 1479,
 28170,
 20546,
 21786,
 279,
 12954,
 11532,
 20474,
 17583,
 19054,
 7403,
 26020,
 14171,
 9452,
 21237,
 10512,
 18681,
 14241,
 22953,
 17116,
 20705,
 9995,
 12832,
 7646,
 3191,
 28713,
 3191,
 26944,
 26944,
 15956,
 795,
 7639,
 10214,
 2642,
 21682,
 27360,
 10816,
 279,
 15942,
 28170,
 16405,
 16377,
 17583,
 7369,
 21426,
 17341,
 10580,
 10816,
 2599,
 21454,
 11921,
 25979,
 14601,
 6835,
 19426,
 26327,
 19435,
 14601,
 22797,
 17116,
 12452,
 5766,
 23053,
 2051,
 19188,
 1457,
 5794,
 19652,
 8607,
 27295,
 26730,
 17295,
 10816,
 16610,
 3241,
 19102,
 28625,
 19493,
 22104,
 19186,
 18214,
 11921,
 23313,
 2559,
 17295,
 13911,
 15479,
 7403,
 11722,
 26862,
 11921,
 26730,
 17295,
 10816,
 89,
 11800,
 15334,
 28550,
 23842,
 23566,
 14601,
 5473,
 1436,
 29526,
 12207,
 16377,
 17828,
 2194,
 16304,
 19544,
 17420,
 745,
 5381,
 3519,
 9995,
 10546,
 795,
 13659,
 27466,
 23845,
 13430,
 17295,
 10816,
 7242,
 701,
 8752,
 2084,
 27783,
 27163,
 25132,
 10816,
 279,
 25256,
 28549,
 11532,
 2926,
 26339,
 2821,
 17583,
 13430,
 16651,
 473,
 19435,
 11558,
 473,
 19435,
 11082,
 22953,
 21602,
 5415,
 16405,
 21602,
 27910,
 21602,
 22649,
 11683,
 19435,
 12659,
 16910,
 5062,
 3519,
 28147,
 21541,
 18976,
 5062,
 11082,
 10816,
 25979,
 2491,
 23566,
 1436,
 12759,
 28984,
 17255,
 26271,
 16377,
 6765,
 16511,
 16034,
 26145,
 25572,
 21541,
 25270,
 14601,
 19054,
 13353,
 5716,
 10034,
 14868,
 24027,
 16910,
 12954,
 26944,
 19705,
 26826,
 23008,
 14037,
 14163,
 19652,
 10020,
 3620,
 29893,
 11047,
 20230,
 12127,
 3831,
 5794,
 10012,
 13570,
 15765,
 19399,
 10821,
 12832,
 16511,
 23789,
 1457,
 14878,
 14124,
 20920,
 22251,
 11594,
 18979,
 25649,
 29326,
 26339,
 3132,
 12038,
 15624,
 27113,
 4610,
 14144,
 25010,
 14606,
 17173,
 29470,
 16405,
 29873,
 12954,
 1836,
 14967,
 23071,
 8716,
 6152,
 1479,
 11520,
 29966,
 12759,
 4211,
 10816,
 14439,
 28713,
 12954,
 473,
 4381,
 9337,
 3647,
 26944,
 22166,
 2642,
 15656,
 13776,
 21541,
 21315,
 29937,
 21315,
 14346,
 20809,
 4165,
 8647,
 29873,
 7451,
 5017,
 18179,
 11532,
 16377,
 10204,
 5766,
 27956,
 22384,
 20402,
 10129,
 29650,
 25043,
 2399,
 29133,
 24306,
 10234,
 1106,
 5381,
 11532,
 20942,
 701,
 17341,
 10580,
 25979,
 15087,
 2491,
 2026,
 1436,
 12759,
 15390,
 22649,
 27287,
 13031,
 24121]

In [ ]:
sent_length=50
embedded_docs=pad_sequences(one_hotrepr,padding='pre',maxlen=sent_length)
print(embedded_docs)

[[ 7354 14861 20206 ... 14525 26311 15441]
 [28689 20505 28147 ... 12619 27704  5535]
 [ 3647 26944 22166 ... 27287 13031 24121]
 ...
 [19624  9486 11558 ... 13736  3964 24760]
 [14878   761  2821 ...  3605  2637 21182]
 [14584  3357  9862 ...   685 18770 14620]]

In [ ]:
embedded_docs[0]

array([ 7354, 14861, 20206, 11658,  3275,   754,  9228, 15958, 12545,
       24047, 19102, 12582, 23041, 15958, 24047, 19102, 29076,   840,
       13730, 16863,  8158, 10012, 28772, 19942, 10999,   826,  9377,
       14195,  9922, 19991,  8763, 23709,  8028, 14601,  7752, 16945,
       16863, 27062, 20404, 12533, 25914, 14664, 15441, 19693,  2923,
       29534,   280, 14525, 26311, 15441], dtype=int32)

In [ ]:
import tensorflow as tf
tf.__version__

'2.4.0'

In [ ]:
features=300
model=tf.keras.Sequential([
      tf.keras.layers.Embedding(input_dim=voc_size,output_dim=features,input_length=sent_length),
      tf.keras.layers.Dropout(0.2),
      tf.keras.layers.LSTM(units=100,return_sequences=True),
      
      tf.keras.layers.Dense(1,activation="sigmoid")
])
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 50, 300)           9000000
_________________________________________________________________
dropout_2 (Dropout)          (None, 50, 300)           0
_________________________________________________________________
lstm_4 (LSTM)                (None, 50, 100)           160400
_________________________________________________________________
dense_2 (Dense)              (None, 50, 1)             101
=================================================================
Total params: 9,160,501
Trainable params: 9,160,501
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
print(Y_train.shape,embedded_docs.shape)

(20800,) (20800, 50)

In [ ]:
X_training=np.array(embedded_docs)
Y_training=np.array(Y_train)

In [ ]:
print(X_training.shape,Y_training.shape)

(20800, 50) (20800,)

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X_training, Y_training, test_size=0.20, random_state=1)

In [ ]:
model.fit(Xtrain,ytrain,validation_data=(Xtest,ytest),epochs=10,batch_size=64)

Epoch 1/10
260/260 [==============================] - 26s 94ms/step - loss: 0.5076 - accuracy: 0.7316 - val_loss: 0.4090 - val_accuracy: 0.8022
Epoch 2/10
260/260 [==============================] - 24s 92ms/step - loss: 0.3093 - accuracy: 0.8644 - val_loss: 0.4254 - val_accuracy: 0.7960
Epoch 3/10
260/260 [==============================] - 24s 92ms/step - loss: 0.2409 - accuracy: 0.8943 - val_loss: 0.4963 - val_accuracy: 0.7939
Epoch 4/10
260/260 [==============================] - 24s 92ms/step - loss: 0.2041 - accuracy: 0.9061 - val_loss: 0.5246 - val_accuracy: 0.7889
Epoch 5/10
260/260 [==============================] - 24s 91ms/step - loss: 0.1775 - accuracy: 0.9177 - val_loss: 0.6290 - val_accuracy: 0.7846
Epoch 6/10
260/260 [==============================] - 23s 90ms/step - loss: 0.1578 - accuracy: 0.9251 - val_loss: 0.6746 - val_accuracy: 0.7767
Epoch 7/10
260/260 [==============================] - 23s 90ms/step - loss: 0.1371 - accuracy: 0.9364 - val_loss: 0.8120 - val_accuracy: 0.7781
Epoch 8/10
260/260 [==============================] - 23s 90ms/step - loss: 0.1101 - accuracy: 0.9492 - val_loss: 1.0137 - val_accuracy: 0.7702
Epoch 9/10
260/260 [==============================] - 24s 91ms/step - loss: 0.1057 - accuracy: 0.9518 - val_loss: 1.0207 - val_accuracy: 0.7694
Epoch 10/10
260/260 [==============================] - 23s 90ms/step - loss: 0.0978 - accuracy: 0.9562 - val_loss: 1.0875 - val_accuracy: 0.7630

**Prediction**

In [ ]:
ypred=model.predict(Xtrain)

In [ ]:
ypred[:2]

array([[[3.22361439e-01],
        [2.44340867e-01],
        [8.44609737e-03],
        [3.62507477e-02],
        [2.25203787e-03],
        [4.70607280e-04],
        [3.07119917e-04],
        [2.79882574e-04],
        [1.29149907e-04],
        [1.25819497e-04],
        [1.11823574e-04],
        [1.78571907e-04],
        [4.36463364e-04],
        [2.52413098e-04],
        [9.73643764e-05],
        [9.92828282e-05],
        [9.08527145e-05],
        [1.85094032e-04],
        [1.61493284e-04],
        [1.09577733e-04],
        [9.13116601e-05],
        [1.28158907e-04],
        [1.53738205e-04],
        [1.10850124e-04],
        [6.72112219e-05],
        [5.75402628e-05],
        [4.81950701e-05],
        [5.06052784e-05],
        [6.02847831e-05],
        [5.96756836e-05],
        [4.99747766e-05],
        [4.78600887e-05],
        [4.40311960e-05],
        [4.09149397e-05],
        [3.24657667e-05],
        [2.99895983e-05],
        [3.61802449e-05],
        [5.88048097e-05],
        [4.94180313e-05],
        [3.41971281e-05],
        [4.84068150e-05],
        [4.14699134e-05],
        [5.40461224e-05],
        [4.51514643e-05],
        [5.63568938e-05],
        [5.81931272e-05],
        [6.34085300e-05],
        [1.07798958e-04],
        [1.38007003e-04],
        [5.96223836e-05]],

       [[3.50536928e-02],
        [1.00752421e-01],
        [4.15231846e-03],
        [6.18649414e-04],
        [1.22717756e-04],
        [1.50573425e-04],
        [1.60028925e-04],
        [7.05909260e-05],
        [7.42548145e-05],
        [3.92779548e-05],
        [3.23426248e-05],
        [3.77754586e-05],
        [3.20450963e-05],
        [2.75783932e-05],
        [3.55482516e-05],
        [3.79641169e-05],
        [4.58745853e-05],
        [3.90783389e-05],
        [4.16855328e-05],
        [4.39827272e-05],
        [4.48135288e-05],
        [3.78517288e-05],
        [4.69782317e-05],
        [5.20822323e-05],
        [4.59681251e-05],
        [4.91308310e-05],
        [4.74828121e-05],
        [5.22879600e-05],
        [5.26030890e-05],
        [5.96750033e-05],
        [6.45435648e-05],
        [9.92689093e-05],
        [4.47269849e-05],
        [4.22644589e-05],
        [4.76941568e-05],
        [3.23934619e-05],
        [4.53494504e-05],
        [4.76282476e-05],
        [4.97300389e-05],
        [6.07107722e-05],
        [6.92370813e-05],
        [6.74633920e-05],
        [6.82939281e-05],
        [4.76731911e-05],
        [4.24643185e-05],
        [4.50213192e-05],
        [6.66826891e-05],
        [7.70257684e-05],
        [4.05108913e-05],
        [6.32440351e-05]]], dtype=float32)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(ytest,ypred)

ValueError: ignored

In [ ]:
len(ytest)

4160

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypred)

ValueError: ignored

In [ ]:

def fun(str1,i,n):
  if i==n-i-1 or i>n-i-1:
    return True
  if str1[i]==str1[n-i-1]:
    return fun(str1,i+1,n)
  else:
    return False
str1="aba"
n=len(str1)
fun(str1,0,n)

True

In [ ]:
from collections import defaultdict

def fun(lis,k):
  dic=defaultdict(int)
  n=len(lis)
  for i in range(n):
    if dic[k-int(lis[i])]>0:
      return True,k-int(lis[i]),int(lis[i])
    dic[lis[i]]+=1
  return False
lis=[1,4,6,2,"123"]
k=1
fun(lis,k)

False

In [ ]:
empployee:-id,name,dep_id
dep:-dep_id,dep_name,hod
select employee.dep_id=dep.dep_id

In [ ]:
def fun(x):
  from math import ceil,sqrt
  lis=[1,x]
  for i in range(2,ceil(sqrt(x))+1):
    if x%i==0:
      lis.append(i)
      lis.append(x//i)
  lis=list(set(lis))
  lis.sort()
  print(*lis)
fun(3000)

1 2 3 4 5 6 8 10 12 15 20 24 25 30 40 50 60 75 100 120 125 150 200 250 300 375 500 600 750 1000 1500 3000

In [ ]:
def fun(s1,s2):
  if len(s1)!=len(s2):
    return False
  c=-1
  for i in range(len(s1)):
    if s2[0]==s1[i]:
      c=i
  if c==-1:
    return False
  n=len(s1)
  i=c
  j=0
  while(i<n):
    if s1[i]==s2[j]:
      
      i+=1
      j+=1
    else:
      return False
  i=0
  while(i<c):
    if s2[j]==s1[i]:
      i+=1
      j+=1
    else:
      return False
  return True
s1="abcd"
s2="cdab"
print(fun(s1,s2))
s1="abcd"
s2="acbd"
print(fun(s1,s2))

True
False